* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
  color: white;
  background-color: black;
  overflow-x: hidden;
}

h2 {
  font-size: 48px;
  letter-spacing: 0.025em;
  padding-bottom: 2rem;
}

p {
  font-size: 16px;
  line-height: 26px;
/* or 160% */
color: #CBCBCB;
    padding-bottom: 1rem;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

span.red {
    color: #FE0101;
    font-size: 56px;
}

.fluid-container {
  width: 100%;
}

.container {
  width: 100%;
  max-width: 1100px;
  margin: 0px auto;
}

.wrapper {
  width: 100%;
  padding: 0px 24px;
}

img.logo {
    position: relative;
  max-width: 100%;
  z-index: 100;
}

img.title-img {
  width: 100%;
  object-fit: contain;
  padding: 8rem 2rem 2rem;
}

main {
  background-image: url("./img/bg-image.png");
  background-color: black;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 100vh;
}

.dotted::before {
    content: "";
background: url('./img/tex2.png') repeat, rgba(90, 90, 90, 0.3);
top: 0;
left: 0;
bottom: 0;
right: 0;
position: absolute;
z-index: 2;
}

/* .crt::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
    z-index: 2;
    background-size: 100% 2px, 3px 100%;
    pointer-events: none;
  } */

header.container {
  padding-top: 24vh;
}

nav ul {
  display: flex;
}

nav ul li {
  font-size: 18px;
  padding: 4rem 4rem 0 0;
  text-transform: uppercase;
  z-index: 10;
}

/* nav ul li a:hover {

} */

p {

}

div.flexbox {
    display: flex;
    gap: 20px;
    align-items: center;
    flex-wrap: wrap;
flex-shrink: 0;
}

.intro {
    margin-bottom: 8rem;
}

.column {
flex: 1;
min-width: 400px;
}

.right {
    text-align: right;
}

.right img {
    margin: 25px 25px 0 0;
    width: 320px;
    height: 320px;
    max-width: 100%;
    max-height: 100%;
    border: 3px solid black;
    box-shadow: 25px -25px 0px #8A8A8A;
}

.certifications {
    height: 200px;
    display: flex;
    align-items: center;
    margin-left: -8px;
}

.certifications img:nth-child(2) {
    padding: 0px 1rem;
}

.elevate {
    align-self: flex-start;
}